
.container{
    width: 1440px;
}
body{
    background-color: #F2F2F2;
}
.flower-text{
font-size: 3.75rem;
}
.h1-line{
    text-align: center;
    position: relative;
}
.h1-line::before{
    display: block;
    content: "";
    height: 2px;
    position:absolute;
    left:29%;
    width: 165px;
    top:50%;
    
    background: #D9D9D9;
}
.h1-line::after{
    display: block;
    content: "";
    height: 2px;
    position:absolute;
    right:29%;
    width: 165px;
    top:50%;
    
    background: #D9D9D9;
}
.font-size{
    font-size: 18px;
}
.white-color{
    color:#FFFFFF;
}
.white-backgroundcolor{
    background-color: #FFFFFF;
}
.h1-line-lastest{
    text-align: center;
    position: relative;
}
.h1-line-lastest::before{
    display: block;
    content: "";
    height: 2px;
    position:absolute;
    left:28%;
    width: 165px;
    top:50%;
    
    background: #D9D9D9;
}
.h1-line-lastest::after{
    display: block;
    content: "";
    height: 2px;
    position:absolute;
    right:28%;
    width: 165px;
    top:50%;
    
    background: #D9D9D9;
}
ul{
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
input[type=checkbox]{
    accent-color: #d9d9d9;
   
}
.form-placeholder::placeholder{
    padding-left: 20px;
}
.hover-orange{
    color: black;
}
.hover-orange:hover{
    color: #ff8f52;
}
.search-bar{
   width: 491px;
   height: 56px;
   background-color: #FFFFFF;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border: 1px solid #D9D9D9;
}
.search-bar input{
    background: transparent;
    border: 0;
    flex:1;
    outline: none;
}
.search-bar button img{
    width: 23px;
    margin-right: 17px;
  
}
.search-bar button{
    border:0;
    background: transparent;

}