.container{
    width: 1440px;
}
body{
    background-color: #F2F2F2;
}
.flower-text{
font-size: 3.75rem;
}
.h1-line{
    text-align: center;
    position: relative;
}
.h1-line::before{
    display: block;
    content: "";
    height: 2px;
    position:absolute;
    left:29%;
    width: 165px;
    top:50%;
    
    background: #D9D9D9;
}
.h1-line::after{
    display: block;
    content: "";
    height: 2px;
    position:absolute;
    right:29%;
    width: 165px;
    top:50%;
    
    background: #D9D9D9;
}
.font-size{
    font-size: 18px;
}
.white-color{
    color:#FFFFFF;
}
.white-backgroundcolor{
    background-color: #FFFFFF;
}
.h1-line-lastest{
    text-align: center;
    position: relative;
}
.h1-line-lastest::before{
    display: block;
    content: "";
    height: 2px;
    position:absolute;
    left:28%;
    width: 165px;
    top:50%;
    
    background: #D9D9D9;
}
.h1-line-lastest::after{
    display: block;
    content: "";
    height: 2px;
    position:absolute;
    right:28%;
    width: 165px;
    top:50%;
    
    background: #D9D9D9;
}
ul{
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}